
<div *ngIf="jobSector">
    <h2><span jhiTranslate="jobportalApp.jobSector.detail.title">Job Sector</span> {{jobSector.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jobportalApp.jobSector.sector">Sector</span></dt>
        <dd>
            <span>{{jobSector.sector}}</span>
        </dd>
        <dt><span jhiTranslate="jobportalApp.jobSector.iconUrl">Icon Url</span></dt>
        <dd>
            <span>{{jobSector.iconUrl}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'job-sector/'+ jobSector.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
