<div>
    <h2>
        <span jhiTranslate="jobportalApp.quotaJobDetails.home.title">Quota Job Details</span>
        <button class="btn btn-primary float-right create-quota-job-details" [routerLink]="['/', { outlets: { popup: ['quota-job-details-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jobportalApp.quotaJobDetails.home.createLabel">
            Create new Quota Job Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jobportalApp.quotaJobDetails.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quotaJobDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vacancyCount"><span jhiTranslate="jobportalApp.quotaJobDetails.vacancyCount">Vacancy Count</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bornBefore"><span jhiTranslate="jobportalApp.quotaJobDetails.bornBefore">Born Before</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bornAfter"><span jhiTranslate="jobportalApp.quotaJobDetails.bornAfter">Born After</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quotaCategoryCategory"><span jhiTranslate="jobportalApp.quotaJobDetails.quotaCategory">Quota Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="jobNotificationId"><span jhiTranslate="jobportalApp.quotaJobDetails.jobNotification">Job Notification</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let quotaJobDetails of quotaJobDetails ;trackBy: trackId">
                <td><a [routerLink]="['../quota-job-details', quotaJobDetails.id ]">{{quotaJobDetails.id}}</a></td>
                <td>{{quotaJobDetails.vacancyCount}}</td>
                <td>{{quotaJobDetails.bornBefore | date:'mediumDate'}}</td>
                <td>{{quotaJobDetails.bornAfter | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="quotaJobDetails.quotaCategoryId">
                        <a [routerLink]="['../quota-category', quotaJobDetails.quotaCategoryId  ]" >{{quotaJobDetails.quotaCategoryCategory}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="quotaJobDetails.jobNotificationId">
                        <a [routerLink]="['../job-notification', quotaJobDetails.jobNotificationId  ]" >{{quotaJobDetails.jobNotificationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../quota-job-details', quotaJobDetails.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quota-job-details/'+ quotaJobDetails.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quota-job-details/'+ quotaJobDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
